body {
    background-image: url("lion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.square {
    width: 600px;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.square-orange {
    width: 400px;
    height: 100px;
    background-color: orange;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    color: white;
}



form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 20px;
}

